h1, h2 {
  color: black;
  font-size: 80px;
  text-align: center;
  font-family: inherit;
}
p {
  text-align: center;
  font-size: 40px;
}
h3 {
  color: darkgrey;
  font-size: 30px;
  text-align: center;
  font-family: inherit;
}
.format {
  font-size: 50px;
  font-family: inherit;
  text-align: center;
}
.space {
  margin-left:23%;
  margin-right: 20%;
}
img {
  width:20%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 50px
}
#int {
  margin-left:20%;
  margin-right: 20%;
  text-align: center;
  font-size: 60px;
  font-family: inherit;
  padding-bottom: 20px;
}
#res {
  margin-left:20%;
  margin-right: 20%;
  text-align: center;
  font-size: 60px;
  font-family: inherit;
  padding-bottom: 20px;
}
#vp {
  margin-left:20%;
  margin-right: 20%;
  text-align: center;
  font-size: 60px;
  font-family: inherit;
  padding-bottom: 20px;
}
#me {
  margin-left:20%;
  margin-right: 20%;
  text-align: center;
  font-size: 50px;
  font-family: inherit;
  padding-top: 50px;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: darkblue;
  overflow: hidden;
  margin-left: 15%;
  margin-right: 15%;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 27px 27px;
  text-decoration: none;
  font-size: 25px;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: grey;
  color: black;
}
.icons {
	width:40px;
	height:40px;
  position: absolute;
}
#facebook {
  top:100%;
  right:40%;
}
#linkedin {
  top: 100%;
  right: 50%;
  width: 50px !important;
  height: 50px !important;
}
#email {
  top:100%;
  right:60%;
}
